@media only screen and (max-width: 1200px ) {
	h3 {
		font-size: 30px;
	}

	p {
		font-size: 18px;
	}
	.navbar-menu li a {
		font-size: 15px;
	}
	.navbar-brand a {
		font-size: 25px;
	}
	h1 {
		font-size: 30px;
	}
	h2{
		font-size: 15px;
	}
	.opportunity .opportunity_Box .opportunity_1 a{
		font-size: 30px; 
	}
	.Feedback .conteiner .conteiner_1 a{
		font-size: 40px;
	}
}

@media only screen and (max-width: 768px ) {
	h3 {
		font-size: 10px;
	}

	p {
		font-size: 5 px;
	}
	.opportunity_1 {
		font-size: 10px;
	}
	.navbar-menu li a {
		font-size: 10px;
		padding: 1px;
		margin-right: 1px;
	}
	.navbar-brand a {
		font-size: 10px;
	}
	h1 {
		font-size: 10px;
	}
	h2{
		font-size: 8px;
	}
	.opportunity .opportunity_Box .opportunity_1 a{
		font-size: 15px; 
	}
	.Feedback .conteiner .conteiner_1 a{
		font-size: 15px;
	}
	.offer {
		width: 90%;
	}
	.offer_1 {
		font-size: 5px;
	}
	.box {
		width: 45%;
		margin-left: 1%;
	}
}
